.modalBackground {
    width: 100vw;
    height: 100vh;
  }
  
  .modalContainer {
    width: 500px;
    height: 300px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 25px; 
    position: fixed;
    top: 45%;
    left: 48%;
    margin-top: -100px;
    margin-left: -250px;

  }
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  

  


 