.videoplayer {
  margin-top: -40px;
   width: 800px;
   height: 450px;
   margin-left: 80px;

}

body {
    overflow-y: scroll;
}

.opinion {
    display: flex;
    column-gap: 15px;
}

.search-container2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .form2 {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .input2[type="text"] {
    width: 300px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 5px 0 0 5px;
  }
  
  .button2[type="submit"] {
    height: 30px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .button2[type="submit"]:hover {
    background-color: #45a049;
  }
  

  .comments {
    margin-left: 60px;
  }

  .videoscroll {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
  }