.videos {
  display: flex;
  flex-wrap: wrap;
  margin-top: -210px;
  justify-content: center; 
}

.text {
  width: 240px;
  text-align: left;
  padding-left: 30px;
  margin-top: -20px;
}

.thumbnail {
  padding: 25px;
}

