.videoplayer {
  margin-top: -200px;
  width: 700px;
  height: 450px;
  justify-content: center;
  margin-left: 350px;
} 


.opinion {
    display: flex;
    column-gap: 15px;
} 

.search-container2 {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
  }
  
  .form2 {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .input2 {
    width: 300px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .button2[type="submit"] {
    height: 42px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .button2[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .comments {
    margin-left: 330px;
  }
