.videoplayer {
   margin-top: 40px;
   width: 600px;
   height: 350px;
   margin-left: 100px;
}

body {
    overflow-y: scroll;
}

.opinion {
    display: flex;
    column-gap: 15px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    align-items: center;
  }
  
  input[type="text"] {
    width: 300px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 5px 0 0 5px;
  }
  
  button[type="submit"] {
    height: 30px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  