header {
    position: fixed;
    width: 100%;
    align-items: center;
    display: flex;
    padding: 5px 5% 0px;
    background-color: red;
  }
 
  header h1 {
    height: auto;
    margin: 0;
    font-size: 36px;
  }
  
  header h1 span {
    font-weight: 300;
  }
  
  header h1 a {
    color: var(--light);
    text-decoration: none;
  }

  header ul a {
    display: inline-block;
    font-size: 20px;
    padding: 5 20px;
    padding-top: 5px;
    text-decoration: none;
    color: var(--dark);
  }

  .youtube-logo {
    background-color: firebrick;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .playBtn {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 24px solid white;
  }
